
.album {
  background-image: url('/assets/img/Background.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 150px; /* Ajusta este valor según sea necesario para espaciar el contenido de las tarjetas */
}
