
.album {
  background-image: url("https://r4.wallpaperflare.com/wallpaper/204/67/597/technics-design-technology-wallpaper-4970b8fda14acd6b5687d83f802146dd.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 150px; /* Ajusta este valor según sea necesario para espaciar el contenido de las tarjetas */
}
